In [1]:
import pandas as pd

In [2]:
table_name = 'CALC_VENDOR'
WP_TenderEvaluation = pd.read_csv(f"all_tables/{table_name}.csv")    
print(WP_TenderEvaluation.shape[0])        
display(WP_TenderEvaluation.tail(4))

27184

,PROJECT_REF_ID,PROJECT_NAME,SAP_FUND,PROJECT_BUDGET_LIMIT,WORKPACKAGEUID,VENDOR_ID,VENDOR_NAME,COSTCODE,COSTNAME,PO_NO,...,VA_SAP,SAPAppr,OC,VN,ACC,RC,HO_Forecast,CS_Forecast,CC_Forecast,Timestamp
27180,486,2014 BLD 10 FIRE DETECT REPLACE,5374612.0,200000.0,31673,616.0,BLUE FIRE SYSTEMS,102.0,Engineering building services,47246483,...,0.0,0.0,199077.97,0.0,199077.97,0.0,2014-07-25 00:00:00.000,2015-01-20 00:00:00.000,2015-12-18 00:00:00.000,2019-08-19 06:53:31.757
27181,486,2014 BLD 10 FIRE DETECT REPLACE,5374612.0,200000.0,31673,616.0,BLUE FIRE SYSTEMS,102.0,Engineering building services,47246483,...,0.0,0.0,199077.97,0.0,199077.97,0.0,2014-07-25 00:00:00.000,2015-01-20 00:00:00.000,2015-12-18 00:00:00.000,2019-08-19 06:53:31.757
27182,486,2014 BLD 10 FIRE DETECT REPLACE,5374612.0,200000.0,31674,NaN,NaN,401.0,Balance to Current Project Budget,NaN,...,0.0,0.0,0.00,0.0,0.00,0.0,2014-07-25 00:00:00.000,2015-01-20 00:00:00.000,2015-12-18 00:00:00.000,2019-08-19 06:53:31.757
27183,504,Number is avaliable for reusing,NaN,0.0,31764,NaN,NaN,401.0,Balance to Current Project Budget,NaN,...,0.0,0.0,0.00,0.0,0.00,0.0,NaN,NaN,NaN,2019-08-19 06:53:31.757

In [3]:
WP_TenderEvaluation[WP_TenderEvaluation['WORKPACKAGEUID']==51787]

,PROJECT_REF_ID,PROJECT_NAME,SAP_FUND,PROJECT_BUDGET_LIMIT,WORKPACKAGEUID,VENDOR_ID,VENDOR_NAME,COSTCODE,COSTNAME,PO_NO,...,VA_SAP,SAPAppr,OC,VN,ACC,RC,HO_Forecast,CS_Forecast,CC_Forecast,Timestamp
465,1477,(CDP) CL Multi Building External Cladding Reme...,6910165.0,13700000.0,51787,NaN,NaN,101.0,Architect,NaN,...,0.0,0.0,0.0,0.0,0.0,200000.0,2019-06-25 00:00:00.000,2020-01-30 00:00:00.000,2020-06-30 00:00:00.000,2019-08-19 06:53:31.757