In [4]:
import pandas as pd

In [5]:
table_name = 'CAR_MEMO_HISTORY_DETAILS'
WP_TenderEvaluation = pd.read_csv(f"all_tables/{table_name}.csv")    
print(WP_TenderEvaluation.shape[0])        
display(WP_TenderEvaluation.tail(4))

297731

,UID,MODULE,KEY,VALUE,CAR_MEMO_HISTORY_ID
297727,300252,NaN,txtSignDateExt1,Date: / /2019,2433
297728,300253,NaN,txtSignDateExt2,Date: / /2019,2433
297729,300254,NaN,attention3,Paul Townsend,2433
297730,300255,NaN,attention4,"CFO, Senior Vice President",2433

In [6]:
WP_TenderEvaluation[WP_TenderEvaluation['UID']==51787]

         UID  MODULE        KEY          VALUE  CAR_MEMO_HISTORY_ID
49886  51787     NaN  TenderP_3  Neo Construct                  419