In [6]:
import pandas as pd

In [7]:
table_name = 'CHANGE_HISTORY_DETAIL'
WP_TenderEvaluation = pd.read_csv(f"all_tables/{table_name}.csv")    
print(WP_TenderEvaluation.shape[0])        
display(WP_TenderEvaluation.tail(4))

61341

,UID,CH_UID,CHANGE_OBJECT_ID,PROPERTY_NAME,PROPERTY_CAPTION,PREVIOUS_VALUE,CURRENT_VALUE,PARRENT_ID,CHANGE_ORDER_NUMBER,WP_UID
61337,62259,62260,1015.0,Forecast Final Cost,NaN,360000.00,30012.00,NaN,20019545,51072.0
61338,62260,62261,1015.0,Forecast Final Cost,NaN,30012.00,130000.00,NaN,20019545,51072.0
61339,62261,62262,1015.0,Forecast Final Cost,NaN,130000.00,230000.00,NaN,20019545,51072.0
61340,62262,62263,1015.0,Forecast Final Cost,NaN,230000.00,330000.00,NaN,20019545,51072.0

In [8]:
WP_TenderEvaluation[WP_TenderEvaluation['UID']==51787]

,UID,CH_UID,CHANGE_OBJECT_ID,PROPERTY_NAME,PROPERTY_CAPTION,PREVIOUS_VALUE,CURRENT_VALUE,PARRENT_ID,CHANGE_ORDER_NUMBER,WP_UID
50865,51787,51788,1120.0,Forecast Final Cost,NaN,1500000.00,920000.00,NaN,NaN,46997.0