In [11]:
import pandas as pd

In [16]:
table_name = 'COST_TYPE'
COST_TYPE = pd.read_csv(f"all_tables/{table_name}.csv")    
print(COST_TYPE.shape[0])        
display(COST_TYPE)

6

   UID  CODE                   NAME  SORT  Active
0    1     1            Consultants     1     NaN
1    2     2           Construction     2     NaN
2    3     3    Other Project Costs     3     NaN
3    4     4  Project Budget Status     4     NaN
4    5     5                 Global     5     NaN
5    6     6                 Delete     6     NaN

In [10]:
COST_TYPE.columns

Index(['UID', 'CODE', 'NAME', 'SORT', 'Active'], dtype='object')