In [2]:
import pandas as pd

In [7]:
table_name = 'COST_TYPE'
df_PR_WORK_PACKAGES = pd.read_csv(f"all_tables/{table_name}.csv")    
print(df_PR_WORK_PACKAGES.shape[0])        
display(df_PR_WORK_PACKAGES.tail(5))

6

   UID  CODE                   NAME  SORT  Active
1    2     2           Construction     2     NaN
2    3     3    Other Project Costs     3     NaN
3    4     4  Project Budget Status     4     NaN
4    5     5                 Global     5     NaN
5    6     6                 Delete     6     NaN

In [6]:
df_PR_WORK_PACKAGES.columns

Index(['UID', 'PR_UID', 'TITLE', 'COST_CODE', 'PROCUREMENT_TYPE', 'STATUS',
       'ORDER_NUMBER', 'SUPPLIER_COMPANY', 'ORDER_DATE', 'ORIGINAL_CONTRACT',
       'AUTH_FUND', 'SCOPE_DESC', 'NOTE', 'FFC', 'upsize_ts', 'SAP_DECOMMIT',
       'PMRS_DECOMMIT', 'Vendor_number', 'Vendor_name', 'State',
       'L3_COST_CODE', 'FFC_LAST', 'FFC_CHANGE', 'CC_LAST', 'CONTRACT_TYPE_ID',
       'ENGAGEMENT_TYPE_ID', 'IS_CA_TRACKING_REQUIRED', 'APPROVAL_ID',
       'APPROVAL_ID_ASSIGN_VALUE', 'CONTINGENCY', 'BR_CALCULATION',
       'TRANSITION_ID'],
      dtype='object')