In [1]:
import pandas as pd

In [2]:
table_name = 'CHANGE_HISTORY'
WP_TenderEvaluation = pd.read_csv(f"all_tables/{table_name}.csv")    
print(WP_TenderEvaluation.shape[0])        
display(WP_TenderEvaluation.tail(4))

61342

,UID,CHANGE_OBJECT_ID,ACTION_TYPE,ACTION_DATE,ACTION_BY,CHANGE_ORDER_NUMBER
61338,62260,1015,Forecast Final Cost,2019-09-23 11:57:16.383,519.0,20019545
61339,62261,1015,Forecast Final Cost,2019-09-23 11:57:30.883,519.0,20019545
61340,62262,1015,Forecast Final Cost,2019-09-23 11:57:40.210,519.0,20019545
61341,62263,1015,Forecast Final Cost,2019-09-23 11:57:51.803,519.0,20019545

In [3]:
WP_TenderEvaluation[WP_TenderEvaluation['UID']==51787]

,UID,CHANGE_OBJECT_ID,ACTION_TYPE,ACTION_DATE,ACTION_BY,CHANGE_ORDER_NUMBER
50865,51787,1120,Forecast Final Cost,2018-08-23 12:29:08.113,538.0,NaN