In [2]:
import pandas as pd

In [3]:
table_name = 'EMAIL_HISTORY_DETAILS'
CHECKLIST = pd.read_csv(f"all_tables/{table_name}.csv")    
print(CHECKLIST.shape[0])        
display(CHECKLIST.tail(4))

456956

,UID,MODULE,KEY,VALUE,EMAIL_HISTORY_ID
456952,457163,NaN,Financial_CF2,0,7716
456953,457164,NaN,Financial_CF3,18898,7716
456954,457165,NaN,txtFree1,NaN,7716
456955,457166,NaN,txtContingency,This request has included $0.00 pre-approved c...,7716

In [4]:
CHECKLIST[CHECKLIST['UID']==51787]

         UID  MODULE        KEY VALUE  EMAIL_HISTORY_ID
51786  51787     NaN  TenderP_5   NaN              2883