In [1]:
import pandas as pd

In [5]:
table_name = 'KPI_HISTORY_DATA_DETAILS'
KPI_HISTORY_DATA_DETAILS = pd.read_csv(f"all_tables/{table_name}.csv")    
print(KPI_HISTORY_DATA_DETAILS.shape[0])        
display(KPI_HISTORY_DATA_DETAILS.tail(4))

620278

           UID  HISTORY_ID    MONTH  MONTH_ID  AMOUNT
620274  780988       21867  2023-09       201     0.0
620275  780989       21867  2023-10       202     0.0
620276  780990       21867  2023-11       203     0.0
620277  780991       21867  2023-12       204     0.0

In [7]:
KPI_HISTORY_DATA_DETAILS[KPI_HISTORY_DATA_DETAILS['UID']==51787]

         UID  HISTORY_ID    MONTH  MONTH_ID  AMOUNT
51786  51787       13816  2017-07       127     5.0