In [1]:
import pandas as pd

In [2]:
table_name = 'PR_CASH_FLOW'
PR_CASH_FLOW = pd.read_csv(f"all_tables/{table_name}.csv")    
print(PR_CASH_FLOW.shape[0])        
display(PR_CASH_FLOW.tail(4))

C:\Users\Kai\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (8,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

2551672

,UID,PR_UID,MONTH_ID,ACTUAL,PLANNED,TOTAL_CASH,LAST_MONTH,MONTH_CHANGE,NOTE,CREATE_USERID,CREATE_DATE,MODIFY_USERID,MODIFY_DATE,upsize_ts,WP_ID,ANNUAL_BASELINE,YEAR_CHANGE
2551668,2993971,1505,156,0.0,NaN,NaN,0.0,NaN,NaN,519.0,2019-09-16 00:24:26.747,NaN,NaN,b'\x00\x00\x00\x00\rK./',52147.0,NaN,NaN
2551669,2993972,1505,156,0.0,NaN,NaN,0.0,NaN,NaN,519.0,2019-09-16 00:24:26.763,NaN,NaN,b'\x00\x00\x00\x00\rK.0',52148.0,NaN,NaN
2551670,2993973,1505,156,0.0,NaN,NaN,0.0,NaN,NaN,519.0,2019-09-16 00:24:26.763,NaN,NaN,b'\x00\x00\x00\x00\rK.1',52149.0,NaN,NaN
2551671,2993974,1505,156,0.0,NaN,NaN,0.0,NaN,NaN,519.0,2019-09-16 00:24:26.780,NaN,NaN,b'\x00\x00\x00\x00\rK.2',52150.0,NaN,NaN

In [4]:
PR_CASH_FLOW[PR_CASH_FLOW['PR_UID']==51787]

Empty DataFrame
Columns: [UID, PR_UID, MONTH_ID, ACTUAL, PLANNED, TOTAL_CASH, LAST_MONTH, MONTH_CHANGE, NOTE, CREATE_USERID, CREATE_DATE, MODIFY_USERID, MODIFY_DATE, upsize_ts, WP_ID, ANNUAL_BASELINE, YEAR_CHANGE]
Index: []