In [17]:
import pandas as pd

In [18]:
table_name = 'WP_Member'
WP_Member = pd.read_csv(f"all_tables/{table_name}.csv")    
print(WP_Member.shape[0])        
display(WP_Member.tail(4))

453

,UID,WorkPackageId,MemberName,MemberPosition,MemberComments,IsCommentClosed
449,465,50002,Aarron Cowen,"PM, BPD",NaN,NaN
450,466,50002,Justin Trowell,"Asset Planning Engineer, BPD",NaN,NaN
451,467,50002,Chris Morgan,"Electrical Services Coordinator, BPD",NaN,NaN
452,468,50002,TBA,Electrical Consultant,NaN,NaN

In [19]:
WP_Member[WP_Member['WorkPackageId']==51787]

,UID,WorkPackageId,MemberName,MemberPosition,MemberComments,IsCommentClosed
423,439,51787,Alexis Kouts,"SPM, BPD",NaN,NaN
424,440,51787,Axel Keert,"SPM&TL, BPD",NaN,NaN